.app {
  display: flex;
  height: 100vh;
}

.text-sim {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}

.user-panel {
  flex: 1;
  padding: 20px;
  background-color: #EFEFEF;
  max-height: 100%;
}

.message-row {
  display: flex;
  align-items: center;
  margin: 5px;
}

.message-row input {
  flex-grow: 1;
  margin: 5px;
}

.message-row button {
  margin: 5px;
}