.app {
  display: flex;
  height: 100vh;
}

.text-sim {
  flex: 1;
  display: flex;
  justify-content: center;
}

.user-panel {
  flex: 1;
  max-height: 100vh;
}

.message-row {
  display: flex;
  align-items: center;
  margin: 5px;
}

.message-row input {
  flex-grow: 1;
  margin: 5px;
}

.message-row button {
  margin: 5px;
}