.imessage-container {
  background-color: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  resize: both;
  overflow-y: scroll;
  max-height: 90vh;
}

.imessage-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  backdrop-filter: blur(20px);
  padding: 10px;
  flex: none;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #000;
}

.profile-image {
  width: 12%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}


.imessage {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}
  
.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  font-family: "SanFrancisco";
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff; 
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.25rem 0;
  width: fit-content;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

div.from-me-img {
  align-self: flex-end;
  border-radius: 0.8rem 0.7rem;
  position: relative;
  max-width: 60%;
  margin: 0.25rem 0;
}

div.from-me-img img {
  max-width: 100%;
  height: auto;
  border-radius: 0.8rem 0.7rem;
}

div.from-them-img {
  align-items: flex-start;
  border-radius: 0.8rem 0.7rem;
  position: relative;
  max-width: 60%;
  margin: 0.25rem 0;
}

div.from-them-img img {
  max-width: 100%;
  height: auto;
  border-radius: 0.8rem 0.7rem;
}


p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.imessage-container.dark-mode {
  background-color: #000;
}

.dark-mode .imessage-profile {
  background-color: rgba(80,80,80,0.50);
  color: #fff;
}

.dark-mode p.from-them {
  background-color: #262628;
  color: #fff;
}

.dark-mode p.from-them:before {
  border-left: 1rem solid #262628;
}


.dark-mode p.from-me::after {
  background-color: #000;
}

.dark-mode p.from-them::after {
  background-color: #000;
}

/* general styling */
@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

